@import '../../../../variables.scss';

.error {
  margin-top: 2px;
  position: absolute;

  .text {
    font-size: 1.4rem;
    color: $red;

    @media (min-width: $screen-md) {
      font-size: 1.6rem
    }
  }

  .text::before {
    display: inline;
    content: '⚠ ';
  }
}
