@import '../variables';

.btnMargin {
  margin-bottom: 30px;
  float: left;
}

.nextBtnContainer {
  padding-right: 30px 50px;
  display: none;
  &.visible {
    display: flex;
  }
  @media (max-width: $screen-md) {
    display: none;
  }
}

.skipButton {
  display: none;
  float: left;
  margin-left: 5px;

  @media (min-width: $screen-md) {
    display: block;
    padding: 0;
  }
}
